@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');
*{font-family: 'Inter', sans-serif;}

h1{
    font-weight: 400;
}
label{
    font-size: .9em
}
label,input,button{
    display: block;
}
input{
    width: 266px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #0081DE;
    padding: 0 10px;
    margin-bottom: 10px;
}
div.formContainer{
    display: block;
    width: 288px;
    margin: 100px auto 0 auto; 
}
p{
    text-align: center;
    font-size: .9em;
}
a{
    text-decoration: none;
    color: #0081DE;
}
button{
    background-color: #0081DE;
    color: aliceblue;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    height: 34px;
    cursor: pointer;
}
button.exit{
    background-color: transparent;
    color: brown;
}
h3{
    text-align: center;
}